{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('Login.css') }}">{% endblock %} 

{% block body %}
<div class="box">
    <h1>Inscription</h1>
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.mail) }}
    {{ form_widget(form.sexe) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.confirm_password) }}

    <input type="submit" name="" value="Inscription">
    {{ form_end(form) }}

    <a href="/"><img src="{{ asset('images/Fleche.png') }}" alt="Retour" class="felches"></a>

</div>

{% endblock %}
