{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('index.css') }}"> {% endblock %} {% block body %} {% for photo in photos %}
<img src="{{photo.chemin}}" class="image">{% endfor %}
<br>
<button type="submit" class="fav"><img id="favoris" class="cc" alt="favoris" src="{{ asset('images/1.png') }}" onclick="changeImage(this);"></button>

<div class="form1">
    <h5>Informations du Vendeur</h5>
    <p>Nom :</p>
    <p>Prénom :</p>
    <p>Mail :</p>
    <p>Telephone :</p>
</div>
<div class="form2">
    <h5>Informations du Bien</h5>
    <p>Type :{{noms.Nom}}</p>
    <p>N° de Pièces :{{noms.nbPieces}}</p>
    <p>Superficie :{{noms.superficie}}m²</p>
    <p>Etage :{{noms.etage}}</p>
    <p>Prix :{{noms.prixMiseEnVente}}€</p>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div>
    <h1>Description</h1>
    <p>{{noms.description}}</p>

</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div>
    <h1>commentaire</h1>
    {% if not app.user %}
    <h5>Vous devez être connecté pour mettre un commentaire</h5>
    {% else %}
    <label for="commentaire">commentaire</label><br>
    <input type="text" class=""> {% endif %} {% for lienbien in lienbiens %} {{lienbien.commentaire}}
    <br> {% endfor %}
</div>
<script src="{{asset('index.js')}}"></script>
{% endblock %}